<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="PRINT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%thread] %highlight(%-5level) %(%logger{20}) %green(%msg) %n</pattern>
        </encoder>

    </appender>

    <logger name="log1" level="INFO" additivity="false">
        <appender-ref ref="PRINT"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="log1" />-->
    </root>
<!--    <root level="info">-->
<!--        <appender-ref ref="PRINT"/>-->

<!--    </root>-->
</configuration>